.App {
  /* text-align: center; */
  min-height: 100vh;
  max-width: 1180px;
  margin: 0 auto;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

nav{
  width: 100%;
  min-height: 73px;
  margin-top: 15px;
  margin-bottom: 15px;

}
.navLogo{		
		height: 70px;
    width: 140px;
    float: left;
}
.nav-links{
  
  float: right;
  list-style: none;
}
.mission{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; 
  min-height: 80vh;
  background-image: url(./wheat.jpg);
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);


}
.mission-text{
  width: 200px;
}

.modal {
  /* background-color: black; */
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;

}
.input-form{
    margin-top: 80px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.search-button{
  background: rgb(234, 101, 96);
    border: none;
    border-radius: 10px;
    padding: 10px 80px;
    color: white;
    margin-bottom: 5px;
    width: 260px;
}
.form-field{
  width: 20%;
  border: none;
  padding: 10px;
}

.about-div{
  width: 260px;
  margin: 0 auto;
  text-align: left;
  margin-top: 70px;
}


/* Mission */
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center; 
      
  }
}



.container {
  background-image: url(./wheat.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

/* Back */

.back {
  background: none;
  margin-left: 13px;
  border: none;
  border-bottom: 3px solid rgb(234, 101, 96);
  font-size: 14px;
  margin-top: 0 auto;
  cursor: pointer;
  color: rgb(234, 101, 96);
}


