.heading {
    color: rgb(234, 101, 96);
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
  }

/* Form */

.contact {
    width: 60%;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 20px;
   
  }
  
  .contact * {
    width: 100%;
    padding: 10px 0px;
    display: block;
    border-radius: 10px;
  }
  .contact input, .contact textarea {
    text-indent: 30px;
    border: 1px solid #eee;
  }
  
  .contact input[type="submit"] {
    background: rgb(234, 101, 96);
    width: 30%;
    text-indent: 0px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    margin: 40px 0px 0px auto;
  }
  